header{
    background:#BBBB;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

footer{
    text-align: center;
    background: #BBBB;
    padding: 40px;
}
.Copyright{
    color: #000000;
    font-size: 13px;
    margin: 20px;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
